.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
width: 100%;
}
.col-haft{
    width: 50%;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.label-upload{
    color: white;
}