.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
   
  
}
.logoContainer{
    display: flex;
    flex-direction: column-reverse;

}
.logo{
    font-weight: 500;
    
}
.navButton{
    margin-left: 20px;
    background-color:  white;
    border:none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}
.logo{
    color: black;
}
.cart{
  cursor: pointer;
  float: left;
  margin-right: 2px;
}
.cart span:nth-child(1){
    font-size:1.5rem;
    color: black;
}
.cart span:nth-child(2){
   padding: 0 3px;
   background-color: red;
   color: #1755d1;
   font-weight: bold;
   border-radius: 5px;
   position: relative;
   top: -15px;
}
button{
   color: #02132b;
}
.image-profile{
    width: 100px;
    height: 40px;
    border-radius: 50%;
}